# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# VS Code
.vscode/

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração local
local.properties

# Arquivos gerados
*.class
**/build/
**/out/
**/bin/

# Arquivos de configuração do Gradle
!gradle-wrapper.jar
!**/src/**/build/
